* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 100px auto;
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 20px 2px black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-title {
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}
.login-title::before {
  content: "";
  width: 350px;
  height: 1px;
  background-color: #8886;
  position: absolute;
  left: -106px;
  top: -20px;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
input {
  margin: 8px;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
}
button {
  background-color: #fb2056;
  padding: 10px 36px;
  color: #fff;
  border: none;
  border-radius: 100px;
  margin-block: 20px;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #d11c49;
}
