* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Montserrat;
}
::selection {
  background-color: #fb2056;
}
nav {
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
}
ul {
  display: flex;
  list-style: none;
  margin-right: -120px;
}
ul li {
  margin-inline: 20px;
}
ul li a {
  text-decoration: none;
  position: relative;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}
ul li a:hover {
  color: #fb2020;
}
ul li a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb2020;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
ul li a:hover::after {
  transform: scaleX(1.1);
}
.nav-btn {
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: #fb2056;
  color: #fff;
  border: none;
  border-radius: 200px;
  font-size: 20px;
  font-weight: bolder;
  transition: background-color 0.3s ease-in-out;
}
.nav-btn:hover {
  background-color: #ff0000d6;
}
.hero-section {
  color: #fff;
  margin: 180px auto 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.hero-section-sub-title {
  margin-bottom: 40px;
  font-size: 24px;
  position: relative;
}
.hero-section-sub-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #fb2056;
  position: absolute;
  bottom: -20px;
  left: 125px;
}
.hero-section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}
.hero-section-btn {
  background-color: #fb2056;
  color: #fff;
  border: none;
  padding: 8px 24px;
  border-radius: 100px;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}
.hero-section-btn:hover {
  background-color: #ff0000d6;
}
.hero-section-ftr {
  font-size: 20px;
  font-weight: bolder;
}
footer {
  width: 100%;
  height: 23vh;
  margin-top: 150px;
  background-color: #1f1f1f;
  text-align: center;
  padding-block: 40px;
  line-height: 2.6;
  font-weight: bolder;
}
.overly {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}
